@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/earlyaccess/hanna.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");
.fade-in {
  animation: fade-in 0.3s forwards; }

.fade-out {
  animation: fade-out 0.3s forwards; }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 15px, 10px); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.hero {
  margin-top: 50px; }
  .hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in .7s forwards; }
    .hero-wrap .start-btn {
      padding: 10px 15px;
      border: 5px solid var(--black-color);
      border-radius: 15px;
      background-color: var(--black-color);
      font-size: var(--font-medium);
      text-align: center;
      color: white;
      cursor: pointer;
      outline: none;
      padding: 10px 10%; }
  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px; }
    .hero__title h3 {
      margin-bottom: 40px;
      font-size: var(--font-large); }
    .hero__title p {
      line-height: 1.4;
      font-family: 'Noto Sans KR', sans-serif; }
      .hero__title p:first-child {
        font-size: 5px; }

@media (max-width: 768px) {
  .hero-wrap .start-btn {
    padding: 5px;
    border-radius: 10px;
    width: 50%; }
  .hero__title {
    margin-bottom: 70px; }
    .hero__title h3 {
      margin-bottom: 20px;
      font-size: 70px; }
    .hero__title p {
      font-size: var(--font-default); } }

@media (max-width: 480px) {
  .hero-wrap .start-btn {
    font-size: var(--font-small); }
  .hero__title {
    margin-bottom: 50px; }
    .hero__title h3 {
      margin-bottom: 10px;
      font-size: var(--font-medium); }
    .hero__title p {
      font-size: 13px; } }

.qna {
  display: none; }
  .qna-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .qna__page span {
    font-size: var(--font-small); }
  .qna__title {
    font-size: var(--font-medium);
    margin: 100px 0; }
  .qna__choice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .qna__choice button {
      padding: 10px 15px;
      border: 5px solid var(--black-color);
      border-radius: 15px;
      background-color: var(--black-color);
      font-size: var(--font-medium);
      text-align: center;
      color: white;
      width: 55%;
      cursor: pointer;
      outline: none; }
      .qna__choice button:not(:last-child) {
        margin-bottom: 30px; }

@media (max-width: 768px) {
  .qna {
    margin-top: 50px; }
    .qna__title {
      font-size: 38px;
      margin: 50px 0; }
    .qna__choice button {
      width: 100%;
      font-size: var(--font-small); } }

@media (max-width: 480px) {
  .qna__page span {
    font-size: var(--font-default); }
  .qna__title {
    font-size: var(--font-small);
    margin: 30px 0; }
  .qna__choice button {
    font-size: 25px; } }

:root {
  --green-color: #2e852e;
  --grey-color: #6d6d6d;
  --black-color: #1a1a1a;
  --white-color: rgb(238, 238, 238);
  --font-large: 80px;
  --font-medium: 48px;
  --font-small: 32px;
  --font-default: 16px; }

* {
  box-sizing: border-box;
  color: var(--black-color);
  font-family: 'Hanna', fantasy;
  font-size: var(--font-default);
  text-align: center; }
  * a {
    text-decoration: none;
    color: inherit; }

section {
  margin: 0 auto;
  padding: 70px 10px;
  background-color: white; }

@media (max-width: 768px) {
  section {
    padding: 35px 10px; } }

@media (max-width: 480px) {
  section {
    padding: 20px 10px; } }

.result {
  display: none; }

.loading {
  display: none; }
