@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");
@font-face {
  font-family: 'BMJUA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.fade-in {
  animation: fade-in 0.3s forwards; }

.fade-out {
  animation: fade-out 0.3s forwards; }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 15px, 10px); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in .7s forwards; }
  .hero-wrap .start-btn {
    padding: 10px 15px;
    border: 5px solid var(--black-color);
    border-radius: 15px;
    background-color: var(--black-color);
    font-size: var(--font-small);
    text-align: center;
    color: white;
    cursor: pointer;
    outline: none;
    width: 80%;
    margin-top: 50px; }

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .hero__title h3 {
    font-size: var(--font-large);
    margin-bottom: 50px; }
  .hero__title p {
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px; }
    .hero__title p:first-child {
      font-size: 5px; }

.qna {
  display: none; }
  .qna-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .qna__title {
    font-size: var(--font-small);
    margin: 30px 0; }
  .qna__choice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .qna__choice button {
      padding: 10px 15px;
      border: 5px solid var(--black-color);
      border-radius: 15px;
      background-color: var(--black-color);
      font-size: var(--font-small);
      text-align: center;
      color: white;
      cursor: pointer;
      outline: none;
      width: 80%;
      font-size: var(--font-default); }
      .qna__choice button:not(:last-child) {
        margin-bottom: 15px; }

.result-wrap {
  margin-bottom: 50px; }

.result__title h3 {
  font-size: 20px; }

.result__title h2 {
  font-size: var(--font-small);
  margin-bottom: 20px; }

.result__title .video {
  position: relative;
  height: 0;
  margin: 30px 0;
  padding-top: 56.25%; }
  .result__title .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.result__info p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px; }

.result .more h3 {
  font-size: var(--font-medium); }

.result .more button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: var(--font-small);
  text-align: center;
  width: 90%;
  color: white; }

.result .more .youtube button {
  background-color: #ca1919;
  margin-bottom: 10px; }

.result .more .replay button {
  background-color: #0fad44;
  margin-bottom: 10px; }

.result .more .twitch button {
  background-color: #9147ff; }

:root {
  --green-color: #2e852e;
  --grey-color: #6d6d6d;
  --black-color: #1a1a1a;
  --white-color: rgb(238, 238, 238);
  --font-large: 50px;
  --font-medium: 38px;
  --font-small: 28px;
  --font-default: 16px; }

* {
  box-sizing: border-box;
  color: var(--black-color);
  font-family: "BMJUA";
  font-size: var(--font-default);
  text-align: center; }
  * a {
    text-decoration: none;
    color: inherit; }

main {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 100%; }

section {
  padding: 15% 10px;
  background-color: white; }

.result {
  display: none; }

.loading {
  display: none; }
