@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/earlyaccess/hanna.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");
:root {
  --green-color: #169b63;
  --black-color: #1a1a1a;
  --grey-color: #6d6d6d;
  --font-large: 5em;
  --font-medium: 3em;
  --font-small: 2em;
  --font-default: 1em; }

* {
  box-sizing: border-box;
  color: var(--black-color);
  font-family: 'Hanna', fantasy;
  font-size: var(--font-default); }
  * a {
    text-decoration: none;
    color: inherit; }

main {
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  background-color: white; }

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--black-color);
  display: none; }
  .hero__title {
    text-align: center;
    line-height: 1.5; }
    .hero__title h3 {
      margin-bottom: 30px;
      font-size: var(--font-large); }
    .hero__title p {
      font-family: 'Noto Sans KR', sans-serif; }
  .hero .start-btn {
    padding: 15px 15px;
    border: 5px solid var(--black-color);
    border-radius: 30px;
    background-color: var(--black-color);
    font-size: var(--font-medium);
    text-align: center;
    color: white;
    cursor: pointer;
    outline: none;
    width: 50%; }

.qna {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--black-color);
  display: none; }
  .qna__page span {
    font-size: 2em; }
  .qna__title {
    font-size: var(--font-medium); }
  .qna__choice {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .qna__choice button {
      padding: 15px 15px;
      border: 5px solid var(--black-color);
      border-radius: 30px;
      background-color: var(--black-color);
      font-size: var(--font-medium);
      text-align: center;
      color: white;
      width: 80%;
      cursor: pointer;
      outline: none; }
      .qna__choice button:first-child {
        margin-bottom: 30px; }

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--black-color);
  display: none; }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  color: var(--black-color); }
  .result__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .result__title h3 {
      font-size: var(--font-small); }
    .result__title .result__name {
      font-size: var(--font-medium); }
    .result__title img {
      margin: 50px 0; }
  .result p {
    font-family: 'Noto Sans KR', sans-serif; }
