.hero {
    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fade-in .7s forwards;
        .start-btn {
            @include btn;
            cursor: pointer;
            outline: none;
            padding: 10px 10%;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
        h3 {
            margin-bottom: 40px;
            font-size: var(--font-large);
        }
        p {
            line-height: 1.4;
            font-family: 'Noto Sans KR', sans-serif;
            &:first-child {
                font-size: 5px;
            }
        }
    }
}

@include tablet {
    .hero {
        &-wrap {
            .start-btn {
                padding: 5px;
                border-radius: 10px;
                width: 50%;
            }
        }
        &__title {
            margin-bottom: 70px;
            h3 {
                margin-bottom: 20px;
                font-size: 70px;
            }
            p {
                font-size: var(--font-default);
            }
        }
    }
}

@include mobile {
    .hero {
        &-wrap {
            .start-btn {
                font-size: var(--font-small);
            }
        }
        &__title {
            margin-bottom: 50px;
            h3 {
                margin-bottom: 10px;
                font-size: var(--font-medium);
            }
            p {
                font-size: 13px;
            }
        }
    }
}