@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/earlyaccess/hanna.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
@import "common/responsive-mixins";
@import "common/style-mixins";
@import "common/animation";
@import "hero";
@import "qna";

:root {
    --green-color: #2e852e;
    --grey-color: #6d6d6d;
    --black-color: #1a1a1a;
    --white-color: rgb(238, 238, 238);

    --font-large: 80px;
    --font-medium: 48px;
    --font-small: 32px;
    --font-default: 16px;
}

* {
    box-sizing: border-box;
    color: var(--black-color);
    font-family: 'Hanna', fantasy;
    font-size: var(--font-default);
    text-align: center;
    a {
        text-decoration: none;
        color: inherit;
    }
}

main {

}

section {
    margin: 0 auto;
    height: 100vh;
    padding: 70px 10px;
    background-color: white;
}

.result {
    display: none;
}

.loading {
    display: none;
}