@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/earlyaccess/hanna.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
@import "common/responsive-mixins";
@import "common/style-mixins";

:root {
    --green-color: #169b63;
    --black-color: #1a1a1a;
    --grey-color: #6d6d6d;

    --font-large: 5em;
    --font-medium: 3em;
    --font-small: 2em;
    --font-default: 1em;
}

* {
    box-sizing: border-box;
    color: var(--black-color);
    font-family: 'Hanna', fantasy;
    font-size: var(--font-default);
    a {
        text-decoration: none;
        color: inherit;
    }
}

main {
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--black-color);
    display: none;
    &__title {
        text-align: center;
        line-height: 1.5;
        h3 {
            margin-bottom: 30px;
            font-size: var(--font-large);
        }
        p {
            font-family: 'Noto Sans KR', sans-serif;
        }
    }
    .start-btn {
        @include btn;
        cursor: pointer;
        outline: none;
        width: 50%;
    }
}

.qna {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--black-color);
    display: none;
    &__page span {
        font-size: 2em;
    }
    &__title {
        font-size: var(--font-medium);
    }
    &__choice {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            @include btn;
            width: 80%;
            cursor: pointer;
            outline: none;
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}

.loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--black-color);
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    color: var(--black-color);
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: var(--font-small);
        }
        .result__name {
            font-size: var(--font-medium);
        }
        img {
            margin: 50px 0;
        }
    }
    p {
        font-family: 'Noto Sans KR', sans-serif;
    }
}