.qna {
    display: none;
    padding: 70px;
    &-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__page span {
        font-size: var(--font-small);
    }
    &__title {
        font-size: var(--font-medium);
        margin: 100px 0;
    }
    &__choice {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            @include btn;
            width: 55%;
            cursor: pointer;
            outline: none;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}
@include tablet {
    .qna {
        padding: 35px;
        &__title {
            font-size: 38px;
            margin: 50px 0;
        }
        &__choice {
            button {
                width: 100%;
                font-size: var(--font-small);
            }
        }
    }
}

@include mobile {
    .qna {
        padding: 15px;
        &__page span {
            font-size: var(--font-default);
        }
        &__title {
            font-size: var(--font-small);
            margin: 30px 0;
        }
        &__choice {
            button {
                font-size: 25px;
            }
        }
    }
}