@import "common/style-mixins";
.result {
    &-wrap {
        margin-bottom: 50px;
    }
    &__title {
        h3 {
            font-size: 20px;
        }
        h2 {
            font-size: var(--font-small);
            margin-bottom: 20px;
        }
        .video {
            position: relative;
            height: 0;
            margin: 30px 0;
            padding-top: 56.25%;
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    &__info {
        p {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 13px;
        }
    }
    .more {
        h3 {
            font-size: var(--font-medium);
        }
        button {
            @include linkBtn;
            width: 90%;
            color: white;
        }
        .youtube button {
            background-color: #ca1919;
            margin-bottom: 10px;
        }
        .replay button {
            background-color: #0fad44;
            margin-bottom: 10px;
        }
        .twitch button {
            background-color: #9147ff;
        }
        
    }
}